---
import { Image } from "astro:assets";
import ButtonRounded from "@components/buttons/ButtonRounded";
import TwoColomns50 from "@components/sections/TwoColomns50.astro";
import RichText from "@components/richtext/RichText.astro";
import WithBottom from "@components/spaces/WithBottom.astro";

const {data} = Astro.props;
const articleTitle = data?.articleTitle;
const articleBody = data?.articleBody;
const articleButton = data?.articleButton;
const textArticle1 = articleBody.filter(item=>item.type!=='image');
const imgArticle1 = articleBody.find(item=>item.type==='image');
---
<WithBottom>
    <RichText
        data={articleTitle}
        class={'w-full mb-6'}
    />
</WithBottom>

<TwoColomns50 reverse>
    <div slot="first-col">
        <RichText
            data={textArticle1}
            styles={{
                h1: 'w-full',
                paragraph: 'mb-4'
            }}
        />

        <div slot="action" class="flex justify-center sm:justify-start mt-10">
            <ButtonRounded
                size="xl"
                color={articleButton.type || 'red'}
                title={articleButton.name || 'Jogue agora'}
                link={articleButton.link || '#'}
                className="w-full sm:w-auto"
            />
        </div>
    </div>
    <Image
        src={imgArticle1.image.url}
        width={imgArticle1.image.width}
        height={imgArticle1.image.height}
        alt={imgArticle1.image.alternativeText}
        slot="second-col"
        class={'w-full border border-pnp/[.1] rounded-[32px] sm:rounded-[48px]'}
    />
</TwoColomns50>


