---
import { Image, getImage } from "astro:assets";
import RichText from "@components/richtext/RichText.astro";
import WithBottom from "@components/spaces/WithBottom.astro";
import infoPic1 from "@assets/svg/letter.svg";
import infoPic2 from "@assets/images/star.png";
import infoPic3 from "@assets/images/checked.png";
import { getFields } from "@utils";
const slideImage1 = await getImage({ src: infoPic1, height: 50, format: 'webp' });
const slideImage2 = await getImage({ src: infoPic2, height: 50, format: 'webp' });
const slideImage3 = await getImage({ src: infoPic3, height: 65, format: 'webp' });
const images = [
    slideImage1,
    slideImage2,
    slideImage3,
]

const {data} = Astro.props;
const availablegamestitle = data?.availablegamestitle;
const availablegameslist = data?.availablegameslist;
const dataList = availablegameslist.map((item, index)=>{
    const description = item.description;
    const isImage = images[index];
    const picinfo = getFields(item?.coverImage?.data?.attributes);
    return({
        description,
        img: {
            url: isImage.src,
            w: isImage.attributes.width,
            h: isImage.attributes.height,
            alt: picinfo.alternativeText || '',
            format: isImage.attributes.ext,
        }
        
    })
})
---
<WithBottom>
    <RichText
        data = {availablegamestitle}
        styles={{
            list: 'my-4'
        }}
    />
</WithBottom>
<section class="bg-pnp/[.03] border border-[#fff]/[.2] relative rounded-[24px] sm:rounded-[30px] px-[24px] py-[24px] sm:px-[32px] sm:py-[32px] bg-gradient-to-bl from-pnp-red/[.4] to-50% ">
    <ul class="flex flex-col gap-[24px]">
        { dataList.map(item => {
            return (
                <li class="flex flex-col sm:flex-row gap-4 border-t border-[#ffffff]/[.2] pt-4 first:border-t-0 first:pt-0">
                   <div class="relative flex items-center justify-center h-[100px] w-[100px] min-w-[100px] rounded-full">
                        { item.img.format !== '.svg' 
                            ? (
                                <Image
                                    src={item.img.url}
                                    width={item.img.w}
                                    height={item.img.h}
                                    alt={item.img.alt}
                                    class="z-10"
                                /> )
                            : (
                                <img
                                    src={item.img.url}
                                    alt={item.img.alt}
                                />
                            )
                        }
                        </div>
                    <div>
                        <RichText
                            data = {item.description}
                            styles={{
                            }}
                        />
                    </div>
                </li>
            )    
        })}
    </ul>
</section>
