---
import { Image } from "astro:assets";
import Article from "@components/article/Article.astro";

// import image1 from "@assets/images/img777_1.png";
// import image2 from "@assets/images/img777_2.png";
// import image3 from "@assets/images/img777_3.png";
// import image4 from "@assets/images/img777_4.png";
import image1 from "@assets/svg/letter.svg";
import image2 from "@assets/images/star.png";
import image3 from "@assets/images/checked.png";
import RichText from "@components/richtext/RichText.astro";
import { STRAPI_URL } from "@constants";


const {data} = Astro.props;
const availablegamestitle = data?.availablegamestitle;
const availablegameslist = data?.availablegameslist;
const dataList = availablegameslist.map(item=>{
    const description = item.description;
    const isImage = item.coverImage.data;
    const imgUrl = isImage? `${STRAPI_URL}${isImage.attributes.url}` : '';
    return({
        description,
        img: {
            url: imgUrl,
            w: isImage.attributes.width,
            h: isImage.attributes.height,
            alt: isImage.attributes.alternativeText || '',
            format: isImage.attributes.ext,
        }
        
    })
})
---
<RichText
    data = {availablegamestitle}
/>
<section class="bg-pnp/[.03] border border-[#fff]/[.2] relative rounded-[24px] sm:rounded-[30px] px-[24px] py-[24px] sm:px-[32px] sm:py-[32px] bg-gradient-to-bl from-pnp-red/[.4] to-50% ">
    <ul class="flex flex-col gap-[24px]">
        { dataList.map(item => {
            return (
                <li class="flex flex-col sm:flex-row gap-4 border-t border-[#ffffff]/[.2] pt-4 first:border-t-0 first:pt-0">
                    <div class="relative flex items-center justify-center h-[100px] w-[100px] min-w-[100px] rounded-full">
                        { item.img.format !== '.svg' 
                            ? (
                                <Image
                                    src={item.img.url}
                                    width={item.img.w}
                                    height={item.img.h}
                                    alt={item.img.alt}
                                    class="z-10"
                                /> )
                            : (
                                <img
                                    src={item.img.url}
                                    alt={item.img.alt}
                                />
                            )
                        }
                        </div>
                    <div>
                        <RichText
                            data = {item.description}
                        />
                    </div>
                </li>
            )    
        })}
    </ul>
</section>
