---
import Article from "@components/article/Article.astro";
import SliderContainer from "@components/slider/SliderContainer";
import { SLOTS_URL, STRAPI_URL } from "@constants";

const {data} = Astro.props;
const title = data?.title;
const slider = data?.slider3;
const promotionsList = slider.map(item => {
    const isImage = item?.coverImage.data;
    const pic = isImage ? `${STRAPI_URL}${isImage.attributes?.url}` : '';
    const link = item?.url ? `${item.url}` : null;
    return ({
        text: item?.title || '',
        buttonName: item?.buttonName || '',
        description: item?.description || '',
        pic,
        link,
    })
});
---
<div class="overflow-hidden pt-4">
    <Article titleH1={title}>
        <SliderContainer
            client:load
            list={promotionsList}
            itemComponentName="SliderItem3"
        />
    </Article>
</div>