---
import { getImage } from "astro:assets";
import ButtonRounded from '@components/buttons/ButtonRounded.tsx';
import Article from "@components/article/Article.astro";
import HeroContainer from "@components/hero/HeroContainer.astro";
import SpaceBlock from "@components/spaces/SpaceBlock.astro";
import TwoColomns from "@components/sections/TwoColomns.astro";
import TwoColomns50 from "@components/sections/TwoColomns50.astro";
import aviaherod from "@assets/images/hero-aviator.png";
import aviaherom from "@assets/images/hero-aviator-mob.png";
import airplane from "@assets/images/airplane.png";
import frame1 from "@assets/images/Frame(1).png";
import frame2 from "@assets/images/Frame(2).png";
import SliderContainer from "@components/slider/SliderContainer";
import aviBonus1 from "@assets/images/avi-bonus-1.png";
import aviBonus2 from "@assets/images/avi-bonus-2.png";

const heroTitle = 'Aviator Pin Up: Uma Aventura Única no Cassino Online';
const heroDescription = 'Nossa plataforma oferece não apenas um jogo, mas uma aventura repleta de emoções e possibilidades. Descubra a magia do Aviator Pin Up, onde a diversão se encontra com a inovação, e cada rodada é uma oportunidade para grandes conquistas';
const heroImage1 = await getImage({ src: aviaherod, format: 'webp' });
const heroImage2 = await getImage({ src: aviaherom, format: 'webp' });
const pic = await getImage({ src: airplane, format: 'webp' });
const aviFrame1pic = await getImage({ src: frame1, format: 'webp' });
const aviFrame2pic = await getImage({ src: frame2, format: 'webp' });
const bonus1 = await getImage({ src: aviBonus1, width: 433, format: 'webp' });
const bonus2 = await getImage({ src: aviBonus2, width: 433, format: 'webp' });

const bonusList = [
    {
        text: 'Aproveite o Bônus',
        description: 'Obtenha fundos extra para jogar, aumente as suas hipóteses de grandes vitórias',
        pic: bonus1,
    },
    {
        text: 'Bônus Especiais para Jogadores de Aviator',
        description: 'Estes bónus especiais foram criados especialmente para os conhecedores do jogo Aviator',
        pic: bonus2,
    },
    {
        text: 'Aproveite o Bônus',
        description: 'Obtenha fundos extra para jogar, aumente as suas hipóteses de grandes vitórias',
        pic: bonus1,
    },
    {
        text: 'Bônus Especiais para Jogadores de Aviator',
        description: 'Estes bónus especiais foram criados especialmente para os conhecedores do jogo Aviator',
        pic: bonus2,
    },
];

---
<Article>
    <HeroContainer
        title={heroTitle}
        description={heroDescription}
        pics={[heroImage1, heroImage2]}
    />
    <Article titleH1="Ofertas especiais">
        <SpaceBlock>
            <TwoColomns>
                <div slot="first-col">
                    <h2 class="text-28-34-700 text-pnp">A better workflow</h1>
                    <p class='mt-2 text-pnp-grey20'>O "Aviator" não é apenas um jogo, é um mundo inteiro de diversão virtual e a possibilidade de grandes ganhos</p>
                    <p class="mt-2 text-pnp-grey20">A simplicidade e a mecânica divertida do Aviator fazem dele a escolha perfeita para todos os jogadores, independentemente da sua experiência. Com regras claras e jogabilidade fácil de entender, é imediatamente imerso num mundo de emoção e possibilidades. Desfrute de cada momento enquanto voa em direção aos seus ganhos com a emocionante mecânica do Aviator no Pin Up Casino!</p>
                </div>
                <img src={pic.src} alt='' class='w-full sm:max-h-[200px]' slot="second-col"/> 
                <ButtonRounded size="xl" color="red" title="Jogue agora" className="w-full sm:w-auto" slot="action" />
            </TwoColomns>
        </SpaceBlock>
    </Article>
</Article>

<div class="overflow-hidden pt-4">
    <Article titleH1="Bônus de Boas-Vindas para Jogadores de Aviator">
        <SliderContainer
            client:load
            itemsNum={2}
            noInfiniti={true}
            list={bonusList}
            itemComponentName="SliderItem3"
        />
    </Article>
</div>

<SpaceBlock>
<TwoColomns50 reverse>
    <div slot="first-col">
        <h2 class="text-28-34-700 text-pnp">
            Jogue Aviator no Aplicativo do Pin Up Casino
        </h2>
        <p class='mt-2 text-pnp-grey20'>Versão Mobile: Jogue Aviator a Qualquer Hora</p>
        <p class="mt-2 mb-8 text-pnp-grey20">A nossa aplicação dá-te a oportunidade de desfrutares da jogabilidade única de "Aviator" a qualquer hora e em qualquer lugar, conforme a tua conveniência</p>
        <ButtonRounded size="xl" color="red" title="Jogue agora" className="w-full sm:w-auto" slot="action" />
    </div>
    <img src={aviFrame2pic.src} alt='' class='w-full ' slot="second-col"/> 
</TwoColomns50>
<TwoColomns50>
    <div slot="second-col">
        <h2 class="text-28-34-700 text-pnp">
            Jogue Aviator no Aplicativo do Pin Up Casino
        </h2>
        <p class='mt-2 text-pnp-grey20'>Versão Mobile: Jogue Aviator a Qualquer Hora</p>
        <p class="mt-2 mb-8 text-pnp-grey20">A nossa aplicação dá-te a oportunidade de desfrutares da jogabilidade única de "Aviator" a qualquer hora e em qualquer lugar, conforme a tua conveniência</p>
        <ButtonRounded size="xl" color="red" title="Jogue agora" className="w-full sm:w-auto" slot="action" />
    </div>
    <img src={aviFrame1pic.src} alt='' class='w-full' slot="first-col"/> 
</TwoColomns50>
<SpaceBlock>


