---
import Article from "@components/article/Article.astro";
import SliderContainer from "@components/slider/SliderContainer";
import { STRAPI_URL } from "@constants";

const {data} = Astro.props;
const sliderItems = data?.sliderItems;

const sliderList =  sliderItems.map(item=> {
    const text = item.title;
    const description = item.description;
    const link = item.url;
    const isImage = item.coverImage.data;
    const imgUrl = isImage ? `${STRAPI_URL}${isImage.attributes.url}` : '';

    return ({
        text,
        link,
        description,
        pic: imgUrl,
    })
})
---
<div class="overflow-hidden pt-4">
    <Article titleH1="Bônus de Boas-Vindas para Jogadores de Aviator">
        <SliderContainer
            client:load
            itemsNum={2}
            noInfiniti={true}
            list={sliderList}
            itemComponentName="SliderItem3"
        />
    </Article>
</div>
