---
import { getImage } from "astro:assets";
import Article from "@components/article/Article.astro";
import ArticleItem from "@components/article/ArticleItem.astro";
import SliderItem4 from '@components/slider/SliderItem4';

import img1 from "@assets/images/Image1.png";
import img2 from "@assets/images/Image2.png";
import img3 from "@assets/images/Image3.png";

const pic1 = await getImage({ src: img1, width: 270, format: 'webp' });
const pic2 = await getImage({ src: img2, width: 270, format: 'webp' });
const pic3 = await getImage({ src: img3, width: 270, format: 'webp' });

const list = [
    {
        title: 'Abrir o site oficial do Pin Up Casino',
        description: 'Usando qualquer dispositivo, vá ao sítio oficial do agente de apostas e faça o login na sua conta',
        image: pic1,
    },
    {
        title: 'Inicie sessão na sua conta Pin Up Casino',
        description: 'Inicie sessão na sua conta clicando no botão ‘Entrar’ no canto superior direito, ou crie uma conta se ainda não o tiver feito',
        image: pic3,
    },
    {
        title: 'Abrir a secção “Depósito',
        description: 'Entre as secções apresentadas na janela, seleccione a secção Depósito;',
        image: pic1,
    },
    {
        title: 'Seleccionar um sistema de pagamento',
        description: 'Entre os muitos métodos de pagamento representados, escolha o que lhe for mais adequado;',
        image: pic2,
    },
    {
        title: 'Introduza o montante que deseja depositar',
        description: 'Digite o montante que deseja depositar na sua conta. Verifique os montantes mínimo e máximo do depósito;',
        image: pic3,
    },
    {
        title: 'Confirmar a transacção',
        description: 'Leia atentamente os seus dados e confirme o seu depósito;',
        image: pic1,
    },
    {
        title: 'Aguarde até que o dinheiro seja transferido para a sua conta',
        description: 'Dependendo do método de pagamento escolhido, a velocidade do depósito pode variar.',
        image: pic2,
    },
    {
        title: 'Receba o seu generoso bónus',
        description: 'Uma vez satisfeitos todos os requisitos da promoção de bónus, receberá um presente de 100% do seu depósito e 250 rotações grátis!',
        image: pic3,
    },
];
const listProcesso = [
    'Identificação Pessoal',
    'Endereço de E-mail',
    'Dados de Pagamento (quando aplicável)',
];
const listDicas = [
    'Acesse sua conta no Pin-Up Casino regularmente para não perder as ofertas exclusivas disponíveis apenas para jogadores frequentes.',
    'Esteja atento às mensagens e notificações do Pin-Up Casino, pois elas podem conter informações sobre bônus personalizados, cashback e eventos VIP.',
    'Aproveite os convites para eventos VIP. Essas ocasiões especiais podem oferecer experiências únicas e recompensas exclusivas.',
    'Ao manter-se ativo, você pode receber bônus personalizados adaptados ao seu estilo de jogo e preferências, proporcionando uma experiência mais personalizada.',
    'Esteja ciente do programa de fidelidade do Pin-Up Casino. Algumas ofertas exclusivas podem estar vinculadas ao seu status de jogador e à sua participação constante no cassino.',
];
const gridList = 'sm:grid sm:gap-6 sm:grid-cols-2 md:gap-6 md:grid-cols-3 lg:gap-6 lg:grid-cols-3 xl:gap-6 xl:grid-cols-4';
const flexList = 'flex flex-row overflow-x-scroll gap-4';
---
<Article
    titleH1 = 'Comece Sua Aventura no Pin-Up Casino: Guia Passo a Passo'
    titleH2 = 'Conheça as Regras Básicas do Pin-Up Casino'
>
    <ul role="list" class=`${flexList} ${gridList} mb-[32px]`>
        { list.map((i, index)=> ( 
            <SliderItem4
                item={i}
                num={index+1}
            />
        ))}
    </ul>
    <ArticleItem
        titleH2 = 'Processo de Verificação de Conta para Novos Jogadores'
        description = 'As rodadas grátis no Pin-Up Casino são uma maneira emocionante de aumentar suas chances de ganhar. Estas podem ser obtidas através de promoções especiais, eventos sazonais ou como parte dos bônus de depósito. Fique de olho nas ofertas periódicas e nas promoções do cassino para garantir suas rodadas grátis e ampliar suas oportunidades de vitória. Informações Necessárias para Verificação:'
    >
        <ul role="list" class="mt-3 list-disc pl-5 space-y-3 text-pnp-grey20 marker:text-pnp-green">
        { listProcesso.map(item=> (
            <li class='text-16-24-400'>
                {item}
            </li>
        ))}
     </ul>
    </ArticleItem>
    <ArticleItem titleH2 = 'Dicas para Acessar e Gerenciar Sua Conta no Pin-Up Casino'>
        <p class='text-16-24-400 text-pnp-grey20'>
            Os jogadores frequentes no <a href="/" class="underline decoration-1 text-pnp-green hover:text-pnp ">Pin-Up Casino</a> têm acesso a ofertas exclusivas e personalizadas. Essas ofertas podem incluir bônus personalizados, cashback, rodadas grátis e convites para eventos VIP. Manter-se ativo no cassino é a chave para desbloquear essas vantagens exclusivas.
        </p>
        <ul role="list" class="my-8 pl-6 space-y-3 text-pnp-grey20 list-decimal">
            { listDicas.map(item=> (
                <li class='text-16-24-400'>
                    {item}
                </li>
            )) }
        </ul>
        <div class="inline-block min-w-full align-middle border border-white/[.15] rounded-[32px]">
            <table class="table-fixed min-w-full divide-y divide-white/[.15] text-white mr-8">
                <thead>
                  <tr class="divide-x divide-white/[.15]">
                    <th scope="col" class="w-[50%] py-3.5 pl-8 pr-4 text-left text-18-28-400">Por dia</th>
                    <th scope="col" class="w-[50%] py-3.5 px-8 text-left text-18-28-400">Por mês</th>
                  </tr>
                </thead>
                <tbody class="divide-y divide-white/[.15] ">
    
                  <tr class="divide-x divide-white/[.15]">
                    <td class="whitespace-nowrap py-4 pl-8 pr-4 text-18-28-400">R$ 20 000</td>
                    <td class="whitespace-nowrap py-4 pl-8 pr-4 text-18-28-400">R$ 70 000</td>
                  </tr>
                  <tr class="divide-x divide-white/[.15]">
                    <td class="whitespace-nowrap py-4 pl-8 pr-4 text-18-28-400">R$ 20 000</td>
                    <td class="whitespace-nowrap py-4 pl-8 pr-4 text-18-28-400">R$ 70 000</td>
                  </tr>
                  <tr class="divide-x divide-white/[.15]">
                    <td class="whitespace-nowrap py-4 pl-8 pr-4 text-18-28-400">R$ 20 000</td>
                    <td class="whitespace-nowrap py-4 pl-8 pr-4 text-18-28-400">R$ 70 000</td>
                  </tr>
                  <tr class="divide-x divide-white/[.15]">
                    <td class="whitespace-nowrap py-4 pl-8 pr-4 text-18-28-400">R$ 20 000</td>
                    <td class="whitespace-nowrap py-4 pl-8 pr-4 text-18-28-400">R$ 70 000</td>
                  </tr>
    
                </tbody>
              </table>
              </div>
      
        </ArticleItem>
</Article>
  