---
import { getImage } from "astro:assets";
import Article from "@components/article/Article.astro";
import SliderContainer from "@components/slider/SliderContainer";
import infoPic2 from "@assets/images/star.png"; // letter.png | star.png | checked.png;
import RichText from "@components/richtext/RichText.astro";
import WithBottom from "@components/spaces/WithBottom.astro";
// import { STRAPI_URL } from "@constants";

const slideImage2 = await getImage({ src: infoPic2, height: 50, format: 'webp' });
const { sliderTitle, sliderData } = Astro.props;
const infoData = sliderData.map(item=> {
    const text = item.title; 
    const description = item.description; 
    //const isImage = item.coverImage.data;
    // const pic = isImage ?  `${STRAPI_URL}${isImage.attributes.url}` : '';
    return({
        text,
        description,
        pic: slideImage2
    })
})
---
<WithBottom>
    <RichText
        data={sliderTitle}
        styles={{
            list:"my-4"
        }}
    />
</WithBottom>

<div class="overflow-hidden">
    <SliderContainer
        client:load
        list={infoData}
        noInfiniti={true}
        itemComponentName="SliderItem5"
    />
</div>