---
import SliderContainer from "@components/slider/SliderContainer";
import RichText from "@components/richtext/RichText.astro";
import { STRAPI_URL } from "@constants";
const {sliderTitle,sliderData} = Astro.props;
const infoData = sliderData.map(item=> {
    const text = item.title; 
    const description = item.description; 
    const isImage = item.coverImage.data;
    const pic = isImage ?  `${STRAPI_URL}${isImage.attributes.url}` : '';
    return({
        text,
        description,
        pic
    })
})
---
<div class="overflow-hidden pt-4">
    <RichText
        data={sliderTitle}
    />
        <SliderContainer
            client:load
            list={infoData}
            noInfiniti={true}
            itemComponentName="SliderItem9"
        />
</div>
