---
import RichText from "@components/richtext/RichText.astro";
import SliderContainer from "@components/slider/SliderContainer";
import { getFields } from "@utils";

const {data} = Astro.props;
const title = data?.title;
const slides = data?.slides;

const sliderList = slides.map((item) => {
    // TODO: index page is text field | Slots page RichText. Move index page to RichText;
    const text = item?.title || '';
    // TODO: index page is text field | Slots page RichText. Move index page to RichText;

    const link = item?.url || '';
    const description = item?.description || '';
    const pic = getFields(item?.coverImage?.data?.attributes);
    return ({
        pic,
        text,
        link,
        description,
    })
})
---

{  Array.isArray(title) 
    ? (<RichText
            data={title}
            styles={{
                h2: 'w-full',
                h3: 'w-full'
            }}
        />)
    : ( <h2 class="text-24-36-700 text-pnp">{title}</h2> )
}
<div class="overflow-hidden pt-4 mt-4">
    {!!sliderList?.length &&
        <SliderContainer
            client:load
            list={sliderList}
            noInfiniti={true}
            itemComponentName="SliderItem"
        />
    }
</div>
