---
import { Image } from "astro:assets";
import SlotsItem from "./SlotsItem.astro";

const {list} = Astro.props;
---
<ul class="grid grid-cols-2 gap-4 sm:gap-[30px] md:grid-cols-3 lg:grid-cols-4">
    { list.map(item => {
        const slug = item?.slug || '';
        const title = item?.title || '';
        const coverImage = item?.coverImage || {
            w: 0,
            h: 0,
            url: '',
            format: '.webp',
            alternativeText: '',
        };
        return (
            <li class="col-span-1 flex flex-col rounded-lg text-center" >
                <SlotsItem url={slug} name={title}>
                    { coverImage?.format !== '.webp' 
                        ? <Image
                            src={coverImage?.url}
                            width={coverImage?.w / 1.5}
                            height={coverImage?.h / 1.5}
                            loading="lazy"
                            format="webp"
                            densities={[.5]}
                            sizes={`(max-width: 768px) 190px, (max-width: 1024px) 300px, 265px`}
                            alt={coverImage?.alternativeText}
                            class="w-full rounded-[24px] border border-pnp/[.1] mb-4"
                            />
                        : <img
                            width={coverImage?.w}
                            height={coverImage?.h}
                            src={coverImage?.url}
                            alt={coverImage?.alternativeText}
                            loading="lazy"
                            class="w-full rounded-[24px] border border-pnp/[.1] mb-4"
                        />
                    }
                </SlotsItem>
            </li>
        )
    } )}
</ul>