---
import { Image } from "astro:assets";
import SlotsItem from "./SlotsItem.astro";

const {list} = Astro.props;
---
<ul class="grid grid-cols-2 gap-4 sm:gap-[30px] md:grid-cols-3 lg:grid-cols-4">
    { list.map(item => {
        const slug = item?.slug || '';
        const title = item?.title || '';
        const coverImage = item?.coverImage || {
            w: 0,
            h: 0,
            url: '',
        };
        const coverSeo = item?.coverSeo;
        return (
            <li class="col-span-1 flex flex-col rounded-lg text-center">
                <SlotsItem url={slug} name={title}>
                    <Image
                        src={coverImage?.url}
                        width={coverImage?.w}
                        height={coverImage?.h}
                        alt={coverSeo.alt}
                        title={coverSeo.title}
                        format="webp"
                        loading="lazy"
                        class="w-full rounded-[24px] border border-pnp/[.1] mb-4"
                    />
                </SlotsItem>
            </li>
        )
    } )}
</ul>