---
import { Image } from "astro:assets";
import SlotsItem from "./SlotsItem.astro";

const images = {
  'Image-0': () => import('/src/assets/images/slots/Image-0.png'),
  'Image-1': () => import('/src/assets/images/slots/Image-1.png'),
  'Image-2': () => import('/src/assets/images/slots/Image-2.png'),
  'Image-3': () => import('/src/assets/images/slots/Image-3.png'),
  'Image-4': () => import('/src/assets/images/slots/Image-4.png'),
  'Image-5': () => import('/src/assets/images/slots/Image-5.png'),
  'Image-6': () => import('/src/assets/images/slots/Image-6.png'),
  'Image-7': () => import('/src/assets/images/slots/Image-7.png'),
};

interface ListItemProps {
    url: string;
    title: string;
    image: string;
}
interface Props {
    list: ListItemProps[];
}

const {list} = Astro.props as Props;
---
    <ol class="grid grid-cols-2 gap-4 sm:gap-[30px] md:grid-cols-3 lg:grid-cols-4">
        { list.map(item => (
            <li class="col-span-1 flex flex-col rounded-lg text-center" >
                <SlotsItem url={item.url} name={item.title}>
                    <Image
                        src={images[item.image]()}
                        format='webp'
                        alt={item.title}
                        class="w-full rounded-[24px] sm:rounded-[32px] border border-gray-500 mb-4"
                    />
                </SlotsItem>
            </li>
        ))}
    </ol>
</>

