---
import HeroContainer from "@components/hero/HeroContainer.astro";
import ButtonRounded from '@components/buttons/ButtonRounded';
import { btnIconUrl } from './util';
import { parseImageData } from '@utils';

const { data, mobileTopSpace="mt-0" } = Astro.props;
const title = data?.title || '';
const buttons = data?.btn || [];
const description = data?.description || '';

const desktop = parseImageData(data?.coverImage.data, 'desktop')
const mobile = parseImageData(data?.coverImage.data, 'mobile')

const pictures = [mobile, desktop]; 
---

{ data &&
    <HeroContainer
        pictures={pictures}
        title={title}
        description={description}
        textTopSpaceMobile={mobileTopSpace}
        textBoxWidth={"w-full sm:w-[53%]"}
    >
        <div class={`flex flex-col sm:flex-row gap-4 mb-4 sm:mb-0`} slot="btn-box">
            {buttons.map(item => {
                return (
                <ButtonRounded
                    size="xl"
                    color={item?.type || 'red'}
                    title={item?.name || 'Empty'}
                    link={item?.link || ''}
                    className={`w-full sm:w-auto flex flex-row text-center justify-center z-50`}
                >
                    {item?.btnIcon?.data && (
                        <img src={btnIconUrl(item)} alt="" class="h-[20px]"/>
                    )}
                </ButtonRounded>
            )
            })}
        </div>
    </HeroContainer>
}