---
import heroHomeD from '@assets/images/hero/hero-home-Dx145kb.png';
import heroHomeM from '@assets/images/hero/hero-home-M@2x97kb.png';
import HeroContainer from "@components/hero/HeroContainer.astro";
import ButtonRounded from '@components/buttons/ButtonRounded';
import { btnIconUrl, getCover } from './util';
import { heroMock } from "./mock";
// import { PageId } from "@constants";
// import { strapiParse } from "src/helper";
// import fetchApi from "../../api";
// const heroData = await fetchApi<any[]>({
//     endpoint: `heroes?filters[slug][$eq]=hero-${PageId.HOME}&populate=*`,
//     wrappedByKey: 'data',
// });
// const parsed = strapiParse(heroData);
// const data = parsed.length ? parsed[0] : parsed;
const { data } = Astro.props;
const title = data?.title || heroMock.title;
const description = data?.description || heroMock.description;
const buttons = data?.btn || [];
const coverImage = data?.coverImage?.data || [];
const coverMobileImage = getCover(coverImage, 'mobile');
const coverDesktopImage = getCover(coverImage, 'desktop');
const coverCardImage = getCover(coverImage, 'card');
const pictures = [
    coverMobileImage || heroHomeM,
    coverDesktopImage || heroHomeD,
    coverCardImage || null
];
---

{ data &&
    <HeroContainer
        pictures={pictures}
        title={title}
        description={description}
        textTopSpaceMobile={"mt-0"}
        textBoxWidth={"w-[340px]( sm:: { type: string; name: string; })w-2/3 lg:w-[480px]"}
    >
        <div class="flex flex-col sm:flex-row gap-4" slot="btn-box">
            {buttons.map(item => (
                <ButtonRounded size="xl" color={item?.type || 'red'} title={item?.name || 'Empty'} className="w-full sm:w-auto flex flex-row gap-4 justify-center z-50">
                    {item?.btnIcon?.data && (
                        <img src={btnIconUrl(item)} alt="" class="h-[20px]"/>
                    )}
                </ButtonRounded>
            ))}
        </div>
    </HeroContainer>
}