---
import RichText from '@components/richtext/RichText.astro';
import { Image, Picture } from 'astro:assets';
import heroSlotD from '@assets/images/hero/hero-slots-d.png';
import heroSlotM from '@assets/images/hero/hero-mob-test_copy.png';
 
interface Props {
    heroText?: any;
    title?: string,
    description?: string,
    textTopSpaceMobile: string,
    textBoxWidth: string,
    pictures: any[];
}

const {
    heroText = null,
    title = null,
    description = null,
    textTopSpaceMobile,
    textBoxWidth,
    pictures: [pictureM, pictureD]
} = Astro.props as Props;

// Styles:
const bgColor = 'bg-pnp/[.03]';
const border = 'border border-pnp/[.1]';
const margins = `mx-4 sm:mx-[4.6%] ${textTopSpaceMobile} sm:mt-[4%] sm:mb-[4%]`;
const rounded = 'rounded-[24px] sm:rounded-[32px] md:rounded-[42px] md:rounded-[48px]';

// Styles Debug Mode: ${debug}; 
// const debug = 'border border-pnp-red/[.5] sm:border-pnp-green/[.5] md:border-black/[.5] lg:border-pnp/[.5]';

// Common Styles: 
const common = `relative overflow-hidden ${border} ${bgColor} ${rounded}`; //${debug}
---
     <div class=`hero-wrapper ${common} relative gr-red-green-coner`>
        { pictureD ? pictureD.format !== '.webp'
            ? <Image
                src={pictureD.url}
                width={pictureD.w/3}
                height={pictureD.h/3}
                densities={[1.5, 2]}
                sizes={`(min-width: 769px) 50vw, 100vw`}
                quality={'mid'}
                loading="eager"
                alt={pictureD.alternativeText || ''} 
                class={`hero-img hidden sm:block w-full`}
            />
            : <img
                src={pictureD.url}
                width={pictureD.w}
                height={pictureD.h}
                alt={pictureD.alternativeText || ''} 
                loading="eager"
                class={`hero-img hidden sm:block w-full`}
            />
            : <Image
                src={heroSlotD}
                loading="eager"
                alt={''} 
                class={`hero-img hidden sm:block w-full`}
            />
        }
        { pictureM ? pictureM.format !== '.webp' 
            ?  <Image
                src={pictureM.url}
                width={pictureM.w/3}
                height={pictureM.h/3}
                densities={[1.5, 2]}
                sizes={`(max-width: 430px) 13.3vw, (max-width: 768px) 100vw`}
                quality={'mid'}
                loading="eager"
                format='webp'
                quality={'mid'}
                alt={pictureM.alternativeText || ''}
                class={`hero-img block sm:hidden w-full`}
            />
            : <img
                src={pictureM.url}
                width={pictureM.w}
                height={pictureM.h}
                loading="eager"
                alt={pictureM.alternativeText || ''} 
                class={`hero-img block sm:hidden w-full`}
            />
            : <Image
                src={heroSlotM}
                loading="eager"
                alt={''} 
                class={`hero-img block sm:hidden w-full`}
            />
        }
        <div class=`hero-content w-auto h-auto flex flex-col gap-8 justify-start sm:justify-between ${margins}`>
            <div class=`${textBoxWidth}`>
                {heroText && (
                    <RichText
                        data={heroText}
                        styles={{
                            h1: 'text-40-44-700 sm:text-34-37-700 md:text-40-44-700 lg:text-50-56-700 mb-4 sm:mb-8',
                            paragraph: 'text-16-24-400 text-pnp-grey20'
                        }}
                    />
                )}
                {!heroText && title && 
                    <h1
                        class="text-40-44-700 sm:text-34-37-700 md:text-40-44-700 lg:text-48-48-700 text-pretty mb-4 sm:mb-8"
                    >
                        {title}
                    </h1>
                }
                {!heroText && description && 
                    <p class="text-16-24-400 text-pnp-grey20">
                        {description}
                    </p>
                }
            </div>
            <slot name="btn-box" />
        </div>
    </div>

<style>
    @media (min-width: 640px) { 
        .hero-wrapper {
            display: grid;
            height: 100%;
        }
        .hero-img {
            width: 100%;
            height: 100%;
            min-height: 0;
            object-fit: cover;
        }
        .gr {
            z-index: 1;
        }
        .hero-content {
            display: flex;
            flex-direction: column;
            z-index: 100;
        }
        .hero-wrapper .hero-img,
        .hero-wrapper .hero-content {
            grid-area: 1/-1;
        }
    }
</style>
<!-- <Image
                src={pictureM.url}
                width={pictureM.w/1.6}
                height={pictureM.h/1.6}
                loading="eager"
                alt={pictureM.alternativeText || ''}
                class={`hero-img block sm:hidden w-full`}
            /> -->

            <!-- sizes={`(max-width: 430px) 200px, (max-width: 768px) 350px, ${pictureM.w}px`} -->
