---
import { STRAPI_URL } from '@constants';
import RichText from '@components/richtext/RichText.astro';
import ButtonRounded from "@components/buttons/ButtonRounded";
import SliderContainer from "@components/slider/SliderContainer";

const {data} = Astro.props;
const sliderTitle = data?.sliderTitle;
const sliderItems = data?.sliderItems;
const commonBtn = data?.commonBtn;
const slideList = sliderItems.map(item=>{
    const text = item?.title || '';
    const link = item?.url || '/';
    const isCoverImage = item?.coverImage.data;
    const coverImage = isCoverImage ? `${STRAPI_URL}${isCoverImage.attributes.url}` : '/';
    return ({
        text,
        link,
        pic: coverImage
    })
})
---
<div class="overflow-hidden pt-4 -pb-4">
    <RichText
        data={sliderTitle}
    />
    <SliderContainer
        client:load
        itemsNum={5}
        noInfiniti={true}
        list={slideList}
        itemComponentName="SliderItem8"
    />
</div>
{commonBtn &&
    <div class="flex justify-center" >
        <ButtonRounded
            size="xl"
            color={commonBtn?.type || 'red'}
            title={commonBtn?.name || ''}
            link={commonBtn?.link || '/'}
            className="w-full sm:w-auto"
        />
    </div>
}
