---
import HeroContainer from "@components/hero/HeroContainer.astro";
import ButtonRounded from '@components/buttons/ButtonRounded';
import { btnIconUrl, getCover } from '../util';
const { data, mobileTopSpace="mt-0" } = Astro.props;
const title = data?.title || '';
const description = data?.description || '';
const buttons = data?.btn || [];
const coverImage = data?.coverImage?.data || [];

const mobile = getCover(coverImage, 'mobile');
const desktop = getCover(coverImage, 'desktop');
const card = getCover(coverImage, 'card');
const pictures = [ mobile, desktop, card || null];
---

{ data &&
    <HeroContainer
        pictures={pictures}
        title={title}
        description={description}
        textTopSpaceMobile={mobileTopSpace}
        textBoxWidth={"w-[340px] sm:w-2/3 lg:w-[480px]"}
    >
        <div class="flex flex-col sm:flex-row gap-4" slot="btn-box">
            {buttons.map(item => (
                <ButtonRounded size="xl" color={item?.type || 'red'} title={item?.name || 'Empty'} className="w-full sm:w-auto flex flex-row gap-4 justify-center z-50">
                    {item?.btnIcon?.data && (
                        <img src={btnIconUrl(item)} alt="" class="h-[20px]"/>
                    )}
                </ButtonRounded>
            ))}
        </div>
    </HeroContainer>
}