---
import { Image } from "astro:assets";

type TGradientStyle = 'green' | 'red';
interface Props {
    title: string;
    description: string;
    pic: ImageMetadata;
    icon: ImageMetadata;
    style?: TGradientStyle;
}
const {icon, pic, title, description, style } = Astro.props;

//Styles:
const rounded = 'rounded-[24px] sm:rounded-[32px]';
const roundedTop = 'rounded-t-[24px] sm:rounded-t-[32px]';
const cardGradient = style !== 'green' ? `hover:gr-rad-red-bt`: `hover:gr-rad-green-bt`; 

const common = `${rounded}`;
---

<div class=`${common} ${cardGradient} h-full w-full card-shadow bg-pnp/[.03]  border border-pnp/[.1] mt-16 text-center relative`>
    <div class="flex flex-wrap justify-center absolute left-0 top-0 right-0 -mt-12">
        <div class="relative bg-pnp-black/[.2] flex w-[100px] h-[100px] rounded-full items-center justify-center before:absolute before:h-[340px] before:w-[340px] before:rounded-full">
            <img src={`${icon.src}`} alt="imagepng." class="z-10" />
        </div>
    </div>

    <div class=`overflow-hidden ${roundedTop}`>
        <Image
            src={pic}
            alt=""
            class=`${roundedTop}`
        />
    </div>
    
    <div class="flex flex-col  justify-start items-center px-4 sm:px-6 py-4 sm:py-6 gap-4 sm:gap-6">
        <div class="text-28-36-600 text-pnp">
            {title}
        </div>
        <div class="text-16-24-400 text-pnp-grey20">
            {description}
        </div>
        <slot/>
    </div>
</div>