---
import { STRAPI_URL } from "@constants";
import RichText from "@components/richtext/RichText.astro";
import SliderContainer from "@components/slider/SliderContainer";

const {data} = Astro.props;
const strategiesTitle = data?.strategiesTitle;
const strategiesSlider = data?.strategiesSlider;
const sliderData = strategiesSlider.map(item =>{
    const isImage = item.coverImage.data;
    const imgUrl = isImage.attributes.url;
    const pic = isImage ? `${STRAPI_URL}${imgUrl}` : '';
    return ({
        text: item.title,
        description: item.description,
        pic
    });
});
---
<div class="overflow-hidden pt-4">
    <div class="mb-10">
    <RichText
        data = {strategiesTitle}
        styles ={{
            paragraph: 'w-full sm:w-2/3'
        }}
    />
    </div>
    <SliderContainer
        client:load
        list={sliderData}
        noInfiniti={false}
        itemComponentName="SliderItem7Info"
    />
</div>
