---
import { Image } from "astro:assets";
import Layout from '@layout/Layout.astro';
import Hero from '@components/hero/Hero.astro';
import AviatorSlider from '@content/aviator/AviatorSlider.astro';
import BannerItem1 from "@components/banner/BannerItem1.astro";
import WithBottom from '@components/spaces/WithBottom.astro';
import ButtonRounded from '@components/buttons/ButtonRounded';
import TwoColomns from '@components/sections/TwoColomns.astro';
import RichText from '@components/richtext/RichText.astro';
import TwoColomns50 from '@components/sections/TwoColomns50.astro';
import {fetchApi, endpoints} from '@api/index';
import AccordionContainer from "@components/accordion/AccordionContainer.astro";

const pageAviatorSchema = await fetchApi({
    endpoint: endpoints.aviator,
});
// console.log('sliderItems :::', sliderItems);

const dataHero = pageAviatorSchema ? pageAviatorSchema['data'].attributes?.hero : null;
const dataArticle1 = pageAviatorSchema ? pageAviatorSchema['data'].attributes?.aviatorArticle1 : null;
const dataArticle2 = pageAviatorSchema ? pageAviatorSchema['data'].attributes?.aviatorArticle2 : null;
const dataArticle3 = pageAviatorSchema ? pageAviatorSchema['data'].attributes?.aviatorArticle3 : null;
const sliderItems = pageAviatorSchema ? pageAviatorSchema['data'].attributes?.aviatorSlider : null;
const aviatorBanner = pageAviatorSchema ? pageAviatorSchema['data'].attributes?.aviatorBanner : null;
const faqData = pageAviatorSchema ? pageAviatorSchema['data']['attributes']['faqBlock']: null;
// console.log('faqData :::', faqData);

const textArticle1 = dataArticle1.aviatorArticleContent.filter(item=>item.type!=='image');
const imgArticle1 = dataArticle1.aviatorArticleContent.find(item=>item.type==='image');

const textArticle2 = dataArticle2.aviatorArticleContent.filter(item=>item.type!=='image');
const imgArticle2 = dataArticle2.aviatorArticleContent.find(item=>item.type==='image');

const textArticle3 = dataArticle3.aviatorArticleContent.filter(item=>item.type!=='image');
const imgArticle3 = dataArticle3.aviatorArticleContent.find(item=>item.type==='image');
---
<Layout>    
    <WithBottom>
        <Hero
            data={dataHero}
            mobileTopSpace="-mt-[100px]"
        />
        <!-- <AviatorHero/> -->
    </WithBottom>

    <div>
        <RichText
            data={dataArticle1.aviatorArticleTitle}
            styles={{
                h2: 'mb-10',
            }}
        />
        <TwoColomns>
            <div slot="first-col">
                <RichText
                    data={textArticle1}
                    styles={{
                        h3: 'mb-2',
                        paragraph: 'mb-2' 
                    }}
                />
            </div>
            <Image
                src={imgArticle1.image.url}
                width={400}
                height={ 200}
                format='webp'
                alt=""
                slot="second-col"
                class={'w-full sm:max-h-[200px] border border-pnp/[.1] rounded-[24px]'}
            />
            <div class="flex justify-center sm:justify-start" slot="action">
                <ButtonRounded
                    size="xl"
                    color={dataArticle1.aviatorArticleBtn.type || 'red'}
                    title={dataArticle1.aviatorArticleBtn.name || 'Jogue agora'}
                    link={dataArticle1.aviatorArticleBtn.link || '#'}
                    className="w-full sm:w-auto"
                />
            </div>
        </TwoColomns>
    </div>

    <div>
        <RichText
            data={dataArticle2.aviatorArticleTitle}
            styles={{
                h2: 'mb-10',
            }}
        />
        <TwoColomns50 reverse>
            <div slot="first-col">
                <RichText
                    data={textArticle2}
                    styles={{
                        h3: 'mb-2',
                        paragraph: 'mb-2' 
                    }}
                />
                <div class="flex justify-center sm:justify-start mt-10" slot="action">
                    <ButtonRounded
                        size="xl"
                        color={dataArticle2.aviatorArticleBtn.type || 'red'}
                        title={dataArticle2.aviatorArticleBtn.name || 'Jogue agora'}
                        link={dataArticle2.aviatorArticleBtn.link || '#'}
                        className="w-full sm:w-auto"
                    />
                </div>
            </div>
            <Image
                src={imgArticle2.image.url}
                width={400}
                height={ 200}
                format='webp'
                alt=""
                slot="second-col"
                class={'w-full border border-pnp/[.1] rounded-[40px]'}
            />
        </TwoColomns50>
    </div>

    <div>
        <RichText
            data={dataArticle3.aviatorArticleTitle}
            styles={{
                h2: 'mb-10',
            }}
        />
        <TwoColomns50>
            <div slot="second-col">
                <RichText
                    data={textArticle3}
                    listBullet="checked"
                    styles={{
                        h3: 'mb-2',
                        paragraph: 'mb-2' 
                    }}
                />
                <div class="flex justify-center sm:justify-start mt-10" slot="action">
                    <ButtonRounded
                        size="xl"
                        color={dataArticle3.aviatorArticleBtn.type || 'red'}
                        title={dataArticle3.aviatorArticleBtn.name || 'Jogue agora'}
                        link={dataArticle3.aviatorArticleBtn.link || '#'}
                        className="w-full sm:w-auto"
                    />
                </div>

            </div>
            <Image
                src={imgArticle3.image.url}
                width={400}
                height={ 200}
                format='webp'
                alt=""
                slot="first-col"
                class={'w-full border border-pnp/[.1] rounded-[40px]'}
            />
        </TwoColomns50>
    </div>

    <!-- <AviatorArticles /> -->
    <AviatorSlider
        data={sliderItems}
    />

    <BannerItem1
        data={aviatorBanner}
    />

    <WithBottom>
        <AccordionContainer
            data={faqData}
        />
    </WithBottom>

</Layout>

