---
import Hero from '@components/hero/Hero.astro';
import Layout from '@layout/Layout.astro';
import Section from '@components/accordion/AccordionSection.astro';
import WithBottom from '@components/spaces/WithBottom.astro';
import BannerItem1 from "@components/banner/BannerItem1.astro";


import BlockOfetas from '@content/home/BlockOfetas/BlockOfetas.astro';
import BlockSlotsList from '@content/home/BlockSlotsList/BlockSlotsList.astro';
import BlockConciseFormat from '@content/home/BlockConciseFormat/BlockConciseFormat.astro';
import BlockCasinoInfo from '@content/home/BlockCasinoInfo/BlockCasinoInfo.astro';
import BlockBonus from '@content/home/BlockBonus/BlockBonus.astro';
import BlockBonus2 from '@content/home/BlockBonus2/BlockBonus2.astro';
import BlockCasinoInfo2 from '@content/home/BlockCasinoInfo2/BlockCasinoInfo2.astro';
import BlockCasinoProviders from '@content/home/BlockCasinoProviders/BlockCasinoProviders.astro';
import BlockList from '@content/home/BlockList/BlockList.astro';
import BlockSuporte from '@content/home/BlockSuporte/BlockSuporte.astro';
import BlockInfo2 from '@content/home/BlockInfo2/BlockInfo2.astro';
import BlockInfo3 from '@content/home/BlockInfo3/BlockInfo3.astro';

import {fetchApi, endpoints} from '@api/index';
import AccordionContainer from '@components/accordion/AccordionContainer.astro';
// import ShowContent from '@components/ShowContetnt';

const pageHomeSchema = await fetchApi({
    endpoint: endpoints.home,
});
const pageAttributes = pageHomeSchema['data']?.attributes;

const dataHero = pageAttributes?.hero;
const dataOfferSlider = pageAttributes?.offerSlider;
const dataSlotsList = pageAttributes?.slotsList;
const articleAnalises = pageAttributes?.analisesArticle;
const slider2 = pageAttributes?.slider2;
const bonuses = pageAttributes?.bonusSlider;
const bonusDescription = pageAttributes?.bonusDescription;
const promotions = pageAttributes?.promotions;
const guide = pageAttributes?.guide;
const payment = pageAttributes?.payment;
const availablegames = pageAttributes?.availablegames;
const appadvantages = pageAttributes?.appadvantages;
const banner = pageAttributes?.banner;
const strategies = pageAttributes?.strategies;
const support = pageAttributes?.support;
const infoSection = pageAttributes?.infoSection;
const faqData = pageAttributes?.faqBlock;
const dataSeo = pageAttributes?.seo;
const debug = false;
---
<Layout seo={dataSeo} heroPreload={dataHero}>
    <WithBottom>
        <Hero
            data={dataHero}
            mobileTopSpace="-mt-[25px]"
        />
    </WithBottom>

    {debug && 1}
    <div class="block sm:hidden">
        <BlockOfetas
            data={dataOfferSlider}
        />
    </div>

    {debug && 2}
    <BlockSlotsList
        data={dataSlotsList}
    />

    {debug && 3}
    <BlockConciseFormat
        data={articleAnalises}
    />

    {debug && 4}
    <WithBottom>
        <BlockCasinoInfo
            data={slider2}
        />
    </WithBottom>

    {debug && 5}
    <BlockBonus
        data={bonuses}
        bonusDescription={bonusDescription}
    />

    {debug && 6}
    <BlockBonus2
        data={promotions}
    />

    {debug && 7}
    <WithBottom>
        <BlockCasinoInfo2
            data={guide}
        />
    </WithBottom>    

    {debug && 8}
    <WithBottom>
        <BlockCasinoProviders
            data={payment}
        />
    </WithBottom>

    {debug && 9}
    <WithBottom>
        <BlockList
            data={availablegames}
        />
    </WithBottom>

    {debug && 10}
    <WithBottom>
        <BlockInfo2
            data={appadvantages}
        />
    </WithBottom>

    {debug && 11}
    <div class="mb-[32px]">
        <BannerItem1
            data={banner}
        />
    </div>
     
    {debug && 12}
    <BlockInfo3
        data={strategies}
    />
    
    {debug && 13}
    <div class="mb-[32px]">
        <BlockSuporte
            data={support}
        />
    </div>

    {debug && 14}
        <WithBottom>
        <Section
            data={infoSection}
        />
        </WithBottom>

    <WithBottom>
        <AccordionContainer
            data={faqData}
        />
    </WithBottom>
</Layout>