---
import Hero from '@components/hero/Hero.astro';
import Layout from '@layout/Layout.astro';
import Section from '@components/accordion/AccordionSection.astro';
import WithBottom from '@components/spaces/WithBottom.astro';
import BannerItem1 from "@components/banner/BannerItem1.astro";

import BlockOfetas from '@content/home/BlockOfetas/BlockOfetas.astro';
import BlockSlotsList from '@content/home/BlockSlotsList/BlockSlotsList.astro';
import BlockConciseFormat from '@content/home/BlockConciseFormat/BlockConciseFormat.astro';
import BlockCasinoInfo from '@content/home/BlockCasinoInfo/BlockCasinoInfo.astro';
import BlockBonus from '@content/home/BlockBonus/BlockBonus.astro';
import BlockBonus2 from '@content/home/BlockBonus2/BlockBonus2.astro';
import BlockCasinoInfo2 from '@content/home/BlockCasinoInfo2/BlockCasinoInfo2.astro';
import BlockCasinoProviders from '@content/home/BlockCasinoProviders/BlockCasinoProviders.astro';
import BlockList from '@content/home/BlockList/BlockList.astro';
import BlockSuporte from '@content/home/BlockSuporte/BlockSuporte.astro';
import BlockInfo2 from '@content/home/BlockInfo2/BlockInfo2.astro';
import BlockInfo3 from '@content/home/BlockInfo3/BlockInfo3.astro';

import {fetchApi, endpoints} from '@api/index';
import AccordionContainer from '@components/accordion/AccordionContainer.astro';

const pageHomeSchema = await fetchApi({
    endpoint: endpoints.home,
});
const pageAttributes = pageHomeSchema['data']?.attributes;

const dataHero = pageAttributes?.hero;
const dataOfferSlider = pageAttributes?.offerSlider;
const dataSlotsList = pageAttributes?.slotsList;
const articleAnalises = pageAttributes?.analisesArticle;
const slider2 = pageAttributes?.slider2;
const bonuses = pageAttributes?.bonusSlider;
const bonusDescription = pageAttributes?.bonusDescription;
const promotions = pageAttributes?.promotions;
const guide = pageAttributes?.guide;
const payment = pageAttributes?.payment;
const availablegames = pageAttributes?.availablegames;
const appadvantages = pageAttributes?.appadvantages;
const banner = pageAttributes?.banner;
const strategies = pageAttributes?.strategies;
const support = pageAttributes?.support;
const infoSection = pageAttributes?.infoSection;
const faqData = pageAttributes?.faqBlock;
const dataSeo = pageAttributes?.seo;
---
<Layout seo={dataSeo} heroPreload={dataHero}>
    <WithBottom>
        <Hero
            data={dataHero}
            mobileTopSpace="-mt-[25px]"
        />
    </WithBottom>

    <!-- 1 -->
    <div class="block sm:hidden">
        <BlockOfetas 
            data={dataOfferSlider}
        />
    </div>

    <!-- 2 -->
    <BlockSlotsList
        data={dataSlotsList}
    />

    <!-- 3 -->
    <BlockConciseFormat
        data={articleAnalises}
    />

    <!-- 4 -->
    <WithBottom>
        <BlockCasinoInfo
            data={slider2}
        />
    </WithBottom>

    <!-- 5 -->
    <BlockBonus
        data={bonuses}
        bonusDescription={bonusDescription}
    />

    <!-- 6 -->
    <BlockBonus2
        data={promotions}
    />

    <!-- 7 -->
    <WithBottom>
        <BlockCasinoInfo2
            data={guide}
        />
    </WithBottom>    

    <!-- 8 Payment -->
    <WithBottom>
        <BlockCasinoProviders
            data={payment}
        />
    </WithBottom>

   <!-- 9 -->
   <WithBottom>
        <BlockList
            data={availablegames}
        />
    </WithBottom>

    <!-- 10 -->
    <WithBottom>
        <BlockInfo2
            data={appadvantages}
        />
    </WithBottom>

    <!-- 11 -->
    <div class="mb-[32px]">
        <BannerItem1
            data={banner}
        />
    </div>
     
    <!-- 12 -->
    <BlockInfo3
        data={strategies}
    />
    
    <!-- 13 -->
    <div class="mb-[32px]">
        <BlockSuporte
            data={support}
        />
    </div>

    <!-- 14 -->
    <WithBottom>
        <Section
            data={infoSection}
        />
    </WithBottom>

    <WithBottom>
        <AccordionContainer
            data={faqData}
        />
    </WithBottom>
</Layout>
