---
import Layout from '@layout/Layout.astro';
import TermsHero from '@content/terms/TermsHero.astro';
import TermsContacts from '@content/terms/TermsContacts.astro';
import RichText from '@components/richtext/RichText.astro';
import GenerateText from '@components/richtext/GenerateText/GenerateText.astro';
import TwoColomns50 from '@components/sections/TwoColomns50.astro';
import ButtonRounded from "@components/buttons/ButtonRounded";
import SliderContainer from "@components/slider/SliderContainer";
import WithBottom from "@components/spaces/WithBottom.astro";
import { Image } from "astro:assets";
import { getFields } from "@utils";
import { endpoints, fetchApi } from '@api/index';

const pageTermsSchema = await fetchApi({
    endpoint: endpoints.terms,
});
const pageAttributes = pageTermsSchema['data']?.attributes;
const dataBanner = pageAttributes?.banner;
const dataArticles = pageAttributes?.termsArticles;
const dataContacts = pageAttributes?.contacts;
const termsColArtical = pageAttributes?.termsColArtical;
const termsSlider = pageAttributes?.termsSlider;
const dataSeo = pageAttributes?.seo;

const termsColArticalImage = termsColArtical.articleBody.find(item => item.type === 'image');
const termsColArticalTexts = termsColArtical.articleBody.filter(item => item.type !== 'image');
const termsColArticalButton = termsColArtical.articleButton;
const imgProps = getFields(termsColArticalImage.image);

const termsSliderList = termsSlider.appSliderItem.map(item => {
    const text = item?.title;
    const description = item?.description;
    const pic = getFields(item.coverImage.data.attributes)
    return ({
        text,
        pic,
        description
    });
})
---
<Layout seo={dataSeo}>
    <!-- 1 -->
    <TermsHero
        data={dataBanner}
    />
    <!-- 2 -->
    { (dataArticles &&  dataArticles.length) && 
        dataArticles.map(article => { 
            return (
                <GenerateText 
                    data = {article}
                />
            )
        })
    }

<!-- 3 -->
    <WithBottom>
        <div class="overflow-hidden pt-4">
            <RichText
                data={termsSlider.appSliderTitle}
            />
            <SliderContainer
                client:load
                itemsNum={4}
                noInfiniti={true}
                list={termsSliderList}
                itemComponentName="SliderItem4"
            />
        </div>
    </WithBottom>
<!-- 4 -->
    <TwoColomns50 reverse>
        <div slot="first-col">
            <RichText
                data={termsColArticalTexts}
                styles={{
                    h1: 'w-full'
                }}
            />
    
            <div slot="action" class="flex justify-center sm:justify-start mt-10">
                <ButtonRounded
                    size="xl"
                    color={termsColArticalButton.type || 'red'}
                    title={termsColArticalButton.name || 'Jogue agora'}
                    link={termsColArticalButton.link || '#'}
                    className="w-full sm:w-auto"
                />
            </div>
        </div>
        <Image
            src={imgProps.url}
            width={imgProps.w}
            height={imgProps.h}
            alt={imgProps.alternativeText}
            slot="second-col"
            class={'w-full border border-pnp/[.1] rounded-[32px] sm:rounded-[48px]'}
        />
    </TwoColomns50>
<!-- 5 -->
    <TermsContacts
        data = {dataContacts}
    />

    <!-- <TermsArticles/> -->
</Layout>
