---
import ButtonRounded from "@components/buttons/ButtonRounded";
import TwoColomns50 from "@components/sections/TwoColomns50.astro";
import RichText from "@components/richtext/RichText.astro";
import SlotCasinoInfo from "./SlotCasinoInfo.astro";

const {data} = Astro.props;
const articleTitle = data?.articleTitle;
const articleBody = data?.articleBody;
const getBodyImage = articleBody?.length ? articleBody.filter(item => item.type === 'image'): null; 
const getBodyTexts = articleBody?.length ? articleBody.filter(item => item.type !== 'image'): null; 
const articleButton = data?.articleButton;
const sliderGuide = data?.slider;

---
<RichText
    data={articleTitle}
    styles={{
        h1: '!text-28-34-700 text-pnp w-full',      
    }}
/>
{ !!sliderGuide?.length && 
    <SlotCasinoInfo
        data={sliderGuide}
    />
}

<TwoColomns50 reverse>
    <div slot="first-col">
        {getBodyTexts?.length && 
            <RichText
                data={getBodyTexts}
                styles={{
                    h3: '!text-28-34-700 mb-6 text-pnp w-full',
                    h4: '!text-18-28-600 font-bold mb-6 text-pnp w-full',
                    paragraph: 'checked-bullet my-2 !text-16-24-400 !text-pnp-grey20',
                    list: '!pl-16 space-y-1'

                }}
            />
        }
        { articleButton && 
            <div slot="action" class="flex justify-center sm:justify-start mt-10">
                <ButtonRounded
                    size="xl"
                    color={articleButton?.type || 'red'}
                    title={articleButton?.name || ''}
                    link={articleButton?.link || '#'}
                    className="w-full sm:w-auto"
                    slot="action"
                />
            </div>
        }
    </div>
    {getBodyImage &&
        <RichText
            data={getBodyImage}
            slot="second-col"
        />
    }
</TwoColomns50>


