---
import { getImage } from "astro:assets";
import Article from "@components/article/Article.astro";
import ArticleItem from "@components/article/ArticleItem.astro";
import SliderItem4 from '@components/slider/SliderItem4';

import img1 from "@assets/images/Image1.png";
import img2 from "@assets/images/Image2.png";
import img3 from "@assets/images/Image3.png";
import SliderContainer from "@components/slider/SliderContainer";

const pic1 = await getImage({ src: img1, width: 270, format: 'webp' });
const pic2 = await getImage({ src: img2, width: 270, format: 'webp' });
const pic3 = await getImage({ src: img3, width: 270, format: 'webp' });

const list = [
    {
        text: 'Abrir o site oficial do Pin Up Casino',
        description: 'Usando qualquer dispositivo, vá ao sítio oficial do agente de apostas e faça o login na sua conta',
        pic: pic1,
    },
    {
        text: 'Inicie sessão na sua conta Pin Up Casino',
        description: 'Inicie sessão na sua conta clicando no botão ‘Entrar’ no canto superior direito, ou crie uma conta se ainda não o tiver feito',
        pic: pic3,
    },
    {
        text: 'Abrir a secção “Depósito',
        description: 'Entre as secções apresentadas na janela, seleccione a secção Depósito;',
        pic: pic1,
    },
    {
        text: 'Seleccionar um sistema de pagamento',
        description: 'Entre os muitos métodos de pagamento representados, escolha o que lhe for mais adequado;',
        pic: pic2,
    },
    {
        text: 'Introduza o montante que deseja depositar',
        description: 'Digite o montante que deseja depositar na sua conta. Verifique os montantes mínimo e máximo do depósito;',
        pic: pic3,
    },
    {
        text: 'Confirmar a transacção',
        description: 'Leia atentamente os seus dados e confirme o seu depósito;',
        pic: pic1,
    },
    {
        text: 'Aguarde até que o dinheiro seja transferido para a sua conta',
        description: 'Dependendo do método de pagamento escolhido, a velocidade do depósito pode variar.',
        pic: pic2,
    },
    {
        text: 'Receba o seu generoso bónus',
        description: 'Uma vez satisfeitos todos os requisitos da promoção de bónus, receberá um presente de 100% do seu depósito e 250 rotações grátis!',
        pic: pic3,
    },
];
const gridList = 'sm:grid sm:gap-6 sm:grid-cols-2 md:gap-6 md:grid-cols-3 lg:gap-6 lg:grid-cols-3 xl:gap-6 xl:grid-cols-4';
const flexList = 'flex flex-row overflow-x-scroll gap-4';
---
<Article titleH1 = 'Como Jogar Conheça Black Rider no Pin-Up Casino'>
    <div class="overflow-hidden pt-4 block sm:hidden">
        <ArticleItem titleH2 = 'Guia Passo a Passo: Como Iniciar sua Jornada com o Black Rider'>
            <SliderContainer
                client:load
                list={list}
                itemComponentName="SliderItem4"
            />
        </ArticleItem>
    </div>
    <ul class=`${flexList} ${gridList} mb-[32px] hidden sm:block`>
        { list.map((item, index)=> ( 
            <SliderItem4
                text={item.text}
                description={item.description}
                pic={item.pic}
                ind={index}
            />
        ))}
    </ul>
   
</Article>
