---
import { Image } from "astro:assets";
import slotImg1 from "@assets/images/slot-img-1.png";
import slotImg2 from "@assets/images/slot-img-2.png";
import slotImg3 from "@assets/images/slot-img-3.png";
import RichText from "@components/richtext/RichText.astro";
import { getFields } from "@utils";
import BlockOfetas from "@content/home/BlockOfetas/BlockOfetas.astro";

// const images = [ slotImg1, slotImg2, slotImg3, slotImg1, slotImg2, slotImg3 ];
const {data} = Astro.props;
const articleTitle = data?.articleTitle; 
const articleBody = data?.articleBody; 
const slides = data?.slides; 
const slidesList = slides?.data?.map(slide =>{
    const slideImg = slide?.attributes;
    return getFields(slideImg);
}) || [];
---
<RichText
    data={articleTitle}
/>
<RichText
    data={articleBody}
/>

<div class='flex flex-row gap-[20px] overflow-x-scroll my-6'>
    {
        slidesList?.map(item => (
            <Image
                src={item.url}
                alt={item.alternativeText}
                width={item.w}
                height={item.h}
                sizes={`(max-width: 640px) 312px, 433px`}
                loading="lazy"
                class="w-full border border-pnp/[.2] rounded-[32px]"
                slot="second-col"
            />
        ))
    }
</div>