---
import HeroContainer from "@components/hero/bonus/BonusHeroContainer.astro";
import ButtonRounded from '@components/buttons/ButtonRounded';
import { parseImageData } from "@utils";
    
const {data} = Astro.props;
const heroButton = data?.btn;
const title = data?.title || '';
const description = data?.description || '';
const desktop = parseImageData(data?.coverImage.data, 'desktop')
const mobile = parseImageData(data?.coverImage.data, 'mobile')
const card = parseImageData(data?.coverImage.data, 'card')
const pictures = [ mobile, desktop, card || null];
---
<HeroContainer
    pictures={pictures}
    coverSeo={data?.coverSeo}
    title={title}
    description={description}
    textTopSpaceMobile="-mt-[115%]"
    textBoxWidth={"w-full sm:w-[40%]"}
>
    <div slot="btn-box" class="flex flex-col sm:flex-row gap-4">
        { !!heroButton?.length && 
            heroButton.map(item =>{
                return (
                    <ButtonRounded
                        size="xl"
                        color={item?.type || 'red'}
                        title={item?.name || ''}
                        details={item?.details || ''}
                        link={item?.link || '#'}
                        className="w-full sm:w-auto"
                    />
                )
            })
        }
    </div>
</HeroContainer>
