---
import Article from "@components/article/Article.astro";
import ArticleItem from "@components/article/ArticleItem.astro";
import SliderContainer from "@components/slider/SliderContainer";
import { getImage, Image } from "astro:assets";
import img1 from "@assets/images/Image1.png";
import img2 from "@assets/images/Image2.png";
import img3 from "@assets/images/Image3.png";
import articleImgBig from "@assets/images/termsgirl@2x328kb.png";
import TwoColomns50 from "@components/sections/TwoColomns50.astro";
import ButtonRounded from "@components/buttons/ButtonRounded";

const list = [
    {
        item: 'Os Termos e Condições do Acordo de Usuário;'
    },
    {
        item: 'Política de Privacidade;'
    },
    {
        item: 'As regras de aceitação de apostas esportivas;'
    },
]
const pic1 = await getImage({ src: img1, width: 270, format: 'webp' });
const pic2 = await getImage({ src: img2, width: 270, format: 'webp' });
const pic3 = await getImage({ src: img3, width: 270, format: 'webp' });

const listSlider = [
    {
        text: 'Abrir o site oficial do Pin Up Casino',
        description: 'Usando qualquer dispositivo, vá ao sítio oficial do agente de apostas e faça o login na sua conta',
        pic: pic1,
    },
    {
        text: 'Inicie sessão na sua conta Pin Up Casino',
        description: 'Inicie sessão na sua conta clicando no botão ‘Entrar’ no canto superior direito, ou crie uma conta se ainda não o tiver feito',
        pic: pic2,
    },
    {
        text: 'Abrir a secção “Depósito',
        description: 'Entre as secções apresentadas na janela, seleccione a secção Depósito;',
        pic: pic3,
    },
    {
        text: 'Seleccionar um sistema de pagamento',
        description: 'Entre os muitos métodos de pagamento representados, escolha o que lhe for mais adequado;',
        pic: pic1,
    },
];
const list7DicasPara = [
    {
        title: 'Iniciar sessão na sua conta',
        body: 'Inicie sessão na sua conta no nosso casino utilizando as suas credenciais.'
    },
    {
        title: 'Vá para a secção "Caixa" ou "Deposite na sua conta',
        body: 'Uma vez conectado à sua conta, encontre a secção "Caixa", "Depósito" ou similar. Normalmente, esta secção pode ser encontrada no menu superior ou na página inicial da conta.'
    },
    {
        title: 'Seleccione o seu método de pagamento preferido',
        body: 'Escolha o método de pagamento mais conveniente para si a partir da lista de métodos de pagamento disponíveis. Aceitamos uma variedade de métodos de pagamento, incluindo cartões de crédito/débito, carteiras electrónicas e transferências bancárias.'
    },
    {
        title: 'Introduzir as informações necessárias',
        body: 'Introduza o montante necessário para o depósito e siga as instruções no ecrã, introduzindo o seu cartão, carteira ou outros dados necessários para o método de pagamento selecionado.'
    },
    {
        title: 'Confirmar a transação',
        body: 'Introduza o montante necessário para o depósito e siga as instruções no ecrã, introduzindo o seu cartão, carteira ou outros dados necessários para o método de pagamento selecionado.'
    },
    {
        title: 'Sucesso!',
        body: 'O seu depósito deve ter sido efectuado com sucesso. Em caso de problemas ou questões, contacte a nossa equipa de apoio.'
    },
];
---
<Article
    id='termmos'
    titleH1 = 'Introdução geral'
    description = 'Ao utilizar e/ou visitar qualquer página do www.pin-up.bet (doravante denominado Website ou Site) operado por B.W.I. BLACK-WOOD LIMITED ou ao abrir uma conta no Site, você concorda com isso:'
>
    <ul class="my-3 list-disc pl-5 space-y-3 text-pnp-grey20 marker:text-pnp-green">
    { list.map(item=> (
        <li class='text-16-24-400'>
            {item['item']}
        </li>
    ))}
    </ul>
    <ArticleItem description = 'Quaisquer termos e condições para promoções, bônus e ofertas especiais publicadas nas páginas do Site. Todos os termos e condições estabelecidos acima são doravante referidos como os Termos e Condições. Favor ler os Termos com atenção antes de concordar com os Termos. Se você não concordar em aceitar e cumprir os Termos, por favor, não abra uma conta e/ou use o Website. Seu uso do Website constituirá sua aceitação dos Termos. Estes Termos entram em vigor a partir de 6 de maio de 2016.'/>
</Article>

<Article titleH1 = 'Partes'>
    <ol start=1 class="my-3 space-y-3 text-pnp-grey20">
        <li>1.1 O Site pertence e é operado por B.W.I. BLACK-WOOD LIMITED, regido pelas leis e regulamentos da República do Chipre, com número de registro HE 405814 (registrado em Spyrou Kyprianou 61, SK HOUSE, 4003 Limassol, Chipre).
        </li>
        <li>1.2 A Companhia opera sob a licença 8048/JAZ2017-003 de Curaçao, emitida para Carletta N.V., número de registro 142346 (endereço comercial: Perseusweg 27A, Curaçao) e faz parte do grupo de parceria. As transações financeiras são realizadas por B.W.I. BLACK-WOOD LIMITED, Chipre (Reg. HE 405814).
        </li>
        <li>1.3 Extratos dos Termos que contêm os pronomes nós, nosso, nós ou a Empresa referem-se à empresa relevante com a qual você está firmando o contrato, de acordo com a cláusula acima.
        </li>
        <li>1.4 Os termos que você, seu, você, você, o Cliente, o Usuário como usados nos Termos referem-se à parte que concorda com as regras acima da Empresa e que celebra um contrato com a Empresa.
        </li>
    </ol>
</Article>

<Article titleH1 = 'Mudanças nos termos e condições'>
    <ol start=1 class="my-3 space-y-3 text-pnp-grey20">
        <li>2.1 A Empresa se reserva o direito de alterar, revisar e emendar qualquer um dos Termos e Condições por uma série de razões, incluindo razões comerciais, legais e de serviço ao cliente.
        </li>
        <li>2.2 Os Termos Atualizados e suas datas de vigência estão disponíveis no Site da Empresa. Notificaremos o Cliente sobre quaisquer alterações, acréscimos ou modificações, colocando uma versão atualizada dos Termos no Website, quaisquer alterações serão consideradas efetivas quando publicadas no Website.
        </li>
        <li>2.3 É responsabilidade do Cliente se familiarizar com os Termos atuais e verificar quaisquer atualizações dos próprios Termos.
        </li>
        <li>2.4 Reservamo-nos o direito de fazer quaisquer mudanças nas disposições do Site, incluindo o software e os serviços, sem aviso prévio. Entretanto, utilizaremos nossos esforços razoáveis para notificar os usuários sobre quaisquer mudanças, utilizando os detalhes de contato estabelecidos em sua Conta de Cliente.
        </li>
        <li>2.5 Se você não concordar com alguma das mudanças, você pode parar de usar o Website. Seu uso continuado de qualquer parte do Website após a data em que a versão mais recente dos Termos de entrar em vigor será considerado como sua aceitação e concordância com os Termos revisados.
        </li>
    </ol>
</Article>

<Article titleH1 = 'Exigências legais'>
    <ol start=1 class="my-3 space-y-3 text-pnp-grey20">
        <li>3.1 A Empresa se reserva o direito de alterar, revisar e emendar qualquer um dos Termos e Condições por uma série de razões, incluindo razões comerciais, legais e de serviço ao cliente.
        </li>
        <li>3.2 Os Termos Atualizados e suas datas de vigência estão disponíveis no Site da Empresa. Notificaremos o Cliente sobre quaisquer alterações, acréscimos ou modificações, colocando uma versão atualizada dos Termos no Website, quaisquer alterações serão consideradas efetivas quando publicadas no Website.
        </li>
        <li>3.3 É responsabilidade do Cliente se familiarizar com os Termos atuais e verificar quaisquer atualizações dos próprios Termos.
        </li>
        <li>3.4 Reservamo-nos o direito de fazer quaisquer mudanças nas disposições do Site, incluindo o software e os serviços, sem aviso prévio. Entretanto, utilizaremos nossos esforços razoáveis para notificar os usuários sobre quaisquer mudanças, utilizando os detalhes de contato estabelecidos em sua Conta de Cliente.
        </li>
        <li>3.5 Se você não concordar com alguma das mudanças, você pode parar de usar o Website. Seu uso continuado de qualquer parte do Website após a data em que a versão mais recente dos Termos de entrar em vigor será considerado como sua aceitação e concordância com os Termos revisados.
        </li>
    </ol>
</Article>

<Article titleH1 = 'Contas e transações financeiras'>
    <ol start=1 class="my-3 space-y-3 text-pnp-grey20">

        <li>4.1 Para utilizar os serviços do Site, você deve abrir uma conta (sua conta) usando seu endereço de e-mail, número de telefone celular e escolher uma senha que você usará para entrar no Site. Além disso, a fim de aproveitar ao máximo todas as características do Website, durante o processo de registro você deve fornecer à Empresa informações pessoais, incluindo seu nome, data de nascimento, cidade e endereço de seu domicílio.
        </li>
        <li>4.2 O nome/sobrenome/data de nascimento que você forneceu durante o registro deve corresponder aos seus dados reais.
        </li>
        <li>4.3 Você confirma que, ao se registrar no Website, nos forneceu informações precisas e verdadeiras sobre você mesmo e que se compromete a nos notificar prontamente sobre quaisquer mudanças.
        </li>
        <li>4.4 Somente uma conta de jogo pode ser aberta e utilizada por pessoa/dispositivo/casa/família. Em caso de violação desta regra, as contas serão marcadas como contas duplicadas (doravante referidas como “Conta Duplicada”).
        </li>
        <li>4.5 Somente uma conta de jogo online pode ser aberta e utilizada por pessoa/dispositivo/casa/família. Em caso de violação desta regra, as contas serão marcadas como contas duplicadas (“Duplicate Accounts”). A Empresa terá o direito de encerrar imediatamente quaisquer Contas Duplicadas e, a seu exclusivo critério:
        </li>
        <li>4.6 Duplicada, menos os fundos retirados e as despesas da Empresa para transações financeiras (comissões);
        </li>
        <li>4.7 Valor mínimo para um único saque: R$ 25
        </li>
        <li>4.8 Limites de Retirada:        
        </li>
    </ol> 
</Article>

<Article titleH1 = 'Limites de Retirada'>

            <div class="inline-block min-w-full align-middle border border-white/[.15] rounded-[32px]">
        <table class="table-fixed min-w-full divide-y divide-white/[.15] text-white mr-8">
            <thead>
              <tr class="divide-x divide-white/[.15]">
                <th scope="col" class="w-[50%] py-3.5 pl-8 pr-4 text-left text-18-28-400">Por dia</th>
                <th scope="col" class="w-[50%] py-3.5 px-8 text-left text-18-28-400">Por mês</th>
              </tr>
            </thead>
            <tbody class="divide-y divide-white/[.15] ">

              <tr class="divide-x divide-white/[.15]">
                <td class="whitespace-nowrap py-4 pl-8 pr-4 text-18-28-400">R$ 20 000</td>
                <td class="whitespace-nowrap py-4 pl-8 pr-4 text-18-28-400">R$ 70 000</td>
              </tr>
              <tr class="divide-x divide-white/[.15]">
                <td class="whitespace-nowrap py-4 pl-8 pr-4 text-18-28-400">R$ 20 000</td>
                <td class="whitespace-nowrap py-4 pl-8 pr-4 text-18-28-400">R$ 70 000</td>
              </tr>
              <tr class="divide-x divide-white/[.15]">
                <td class="whitespace-nowrap py-4 pl-8 pr-4 text-18-28-400">R$ 20 000</td>
                <td class="whitespace-nowrap py-4 pl-8 pr-4 text-18-28-400">R$ 70 000</td>
              </tr>
              <tr class="divide-x divide-white/[.15]">
                <td class="whitespace-nowrap py-4 pl-8 pr-4 text-18-28-400">R$ 20 000</td>
                <td class="whitespace-nowrap py-4 pl-8 pr-4 text-18-28-400">R$ 70 000</td>
              </tr>

            </tbody>
          </table>
          </div>


    <ol start=1 class="my-3 space-y-3 text-pnp-grey20">
        <li>4.9 O procedimento de verificação de conta é realizado (por Finanças ou Segurança) nos dias úteis (de segunda a sexta-feira), a menos que seja necessário passar pelo procedimento de verificação do usuário para processar um pedido ativo de desembolso.
        </li>
        <li>4.10 Seu banco emissor poderá cobrar taxas adicionais de transferência e processamento.        
        </li>
    </ol> 
</Article>


<Article titleH1 = 'Violação dos termos'>
    <ol start=1 class="my-3 space-y-3 text-pnp-grey20">
        <li>8.1 Você se compromete a indenizar totalmente a Empresa contra quaisquer custos ou despesas (incluindo taxas legais) e quaisquer outras despesas incorridas como resultado de sua violação destes Termos.
        </li>
        <li>8.2 Se você violar os Termos, o Site legalmente pode:
            <ul style="list-style-type:disc" class="pl-5">
                <li>
                    8.2.1 notificar que você está violando os Termos, exigindo que você cesse a violação;
                </li>
                <li>
                    8.2.2 suspender sua conta a fim de impedi-lo de usar o Site;
                </li>
                <li>8.2.3 bloqueie sua conta, com ou sem aviso prévio;</li>
                <li>8.2.4 remover de sua conta o valor de quaisquer pagamentos, bônus ou ganhos que você tenha recebido como resultado de qualquer infração.</li>
            </ul>
        </li>
        <li>9 A Empresa se reserva o direito de encerrar sua conta sem a possibilidade de reativação se você não tiver cumprido qualquer uma das disposições dos Termos.
        </li>
        <li>10 Quando houver suspeita de que houve atividade fraudulenta na Conta e/ou violação dos Termos, a Empresa se reserva o direito de suspender a Conta enquanto o departamento de segurança da Empresa investiga o assunto. O período padrão, mas não final, de investigação pode variar de 7 a 30 dias úteis, excluindo fins de semana e feriados.
        </li>
    </ol> 
</Article>

<Article 
    titleH1="Comece Sua Aventura no Pin-Up Casino: Guia Passo a Passo"
    titleH2="Conheça as Regras Básicas do Pin-Up Casino"
>
    <SliderContainer
        client:load
        list={listSlider}
        itemComponentName="SliderItem4"
    />
</Article>

<Article 
    titleH1="7 dicas para jogo responsável"
>
    <ul role="list" class="">
        {list7DicasPara.map((item, index)=>(
            <li class="flex gap-x-3 mb-[32px] last:mb-0">
                <div class="bg-pnp-green h-[28px] w-[28px] rounded-full flex items-center justify-center px-[11px] py-[10px]">
                    <span class="text-16-24-600">{index+1}</span>
                </div>
                <div>
                    <h3 class='text-18-28-600 text-pnp'>{item.title}</h3>
                    <p class='text-16-24-400 text-pnp-grey20'>{item.body}</p>
                </div>
            </li>
        ))}
    </ul>
</Article>

<TwoColomns50 reverse>
    <div slot="first-col">
        <h2 id='support' class="text-28-34-700 text-pnp">
            Jogue Aviator no Aplicativo do Pin Up Casino
        </h2>
        <p class='mt-2 text-pnp-grey20'>Versão Mobile: Jogue Aviator a Qualquer Hora</p>
        <p class="mt-2 mb-8 text-pnp-grey20">A nossa aplicação dá-te a oportunidade de desfrutares da jogabilidade única de "Aviator" a qualquer hora e em qualquer lugar, conforme a tua conveniência</p>
        <ButtonRounded size="xl" color="red" title="Jogue agora" className="w-full sm:w-auto" slot="action" />
    </div>
    <Image
        src={articleImgBig}
        widths={[430, 640, 768, 1024, articleImgBig.width]}
        sizes={`(max-width: 430px) 430px, (min-width: 640px) and (max-width: 768px) 768px, (max-width: 1024px) 1024px, ${articleImgBig.width}px`}
        quality='low'
        loading="lazy"
        class={`w-full`}
        slot="second-col"
        alt=""
    />
</TwoColomns50>


