---
import {  getImage } from "astro:assets";

import Article from "@components/article/Article.astro";
import bonusPic1 from "@assets/images/bonus1-card.png";
import bonusPic2 from "@assets/images/bonus2-card.png";
import bonusPic3 from "@assets/images/bonus3-card.png";
import SliderContainer from "@components/slider/SliderContainer";

const pic1 = await getImage({ src: bonusPic1, width: 433, format: 'webp' });
const pic2 = await getImage({ src: bonusPic2, width: 433, format: 'webp' });
const pic3 = await getImage({ src: bonusPic3, width: 433, format: 'webp' });
const {data}=Astro.props;
const title = data?.data;
const slider = data?.slider;
const pictures = [pic1, pic2, pic3];
// console.log(slider)
const sliderBonusesList = slider.map((item, index)=>{
    return({
        text: item.title,
        description: item.description,
        pic: pictures[index],
    })
});
const bonusList = data?.bonusList;

const columnsList = bonusList.map(item => {
    return({
        title: item.title,
        body: item.descrition
    })
})
---
<div class="overflow-hidden pt-4">
    <Article titleH1={title}>
        <SliderContainer
            client:load
            list={sliderBonusesList}
            itemComponentName="SliderItem2"
        />
        <section class="bg-pnp/[.03] border border-pnp/[.1] rounded-[24px] sm:rounded-[30px] px-[24px] py-[24px] sm:px-[32px] sm:py-[32px] bg-gradient-to-bl from-pnp-red/[.4] to-50% ">
            <ul class=" grid max-w-xl grid-cols-1 gap-8 text-base leading-7 text-gray-700 lg:max-w-none lg:grid-cols-3">
                { columnsList.map(item => (
                    <li>
                        <h2 class="text-24-26-700 text-pnp mb-4">
                            {item.title}
                        </h2>
                        {
                            item.body.map(item => {
                                return (
                                    item.children.map(i=>{
                                        return(
                                            <p class="text-16-24-400 text-pnp-grey20">
                                                {i.text}
                                            </p>
                                        )
                                    })
                                )
                            })
                        }
                    </li>
                ))}
            </ul>
        </section>
    </Article>
</div>