---
import { Picture } from "astro:assets";
import chevronDown from "@assets/svg/chevronDown.svg";
interface Props {
    title: string;
    body: string;
    isActive: boolean;
}
const { title, body, isActive } = Astro.props as Props;
const classActive = isActive ? 'active' : '';
const classRotate = isActive ? 'rotate-180' : '';
const classHeight = isActive ? 'max-h-[999px]' : 'max-h-0';
const transition = 'transition-all duration-150 ease-in-out';
const hovers = 'hover:gradient-green-coner-4';

---
<li class=`border border-zinc-700 rounded-[24px] sm:rounded-[30px] bg-gray-100 bg-opacity-5 ${transition} ${hovers}`>
    <button class=`accordion flex items-start justify-between w-full pt-7 px-4 sm:pt-8 sm:px-8 ${classActive}`>
        <span class="text-18-28-600">
            {title}
        </span>
        <span class={`transition-rotate transform duration-150 ${classRotate}`}>
            <Picture
                src={chevronDown}
                format="webp"
                width={chevronDown.width * 1.4}
                alt=""
            />
        </span>
    </button>
    <p class=`panel transition-max-height duration-150 ease-in-out overflow-hidden text-base font-normal px-[32px] mt-2 mb-[24px] ${classHeight}`>
        {body}
    </p>
</li>
