---
import { getImage } from 'astro:assets';

import ltDesktop from "@assets/images/hero/banner-LT-desktop.png";
import lbDesktop from "@assets/images/hero/banner-LB-desktop.png";
import rtDesktop from "@assets/images/hero/banner-RT-desktop.png";
import rbDesktop from "@assets/images/hero/banner-RB-desktop.png";
import ltMobile from "@assets/images/hero/banner-LT-mobile.png";
import lbMobile from "@assets/images/hero/banner-LB-mobile.png";
import rtMobile from "@assets/images/hero/banner-RT-mobile.png";
import rbMobile from "@assets/images/hero/banner-RB-mobile.png";

const ltDesktopBg = await getImage({src: ltDesktop, format: 'webp'})
const lbDesktopBg = await getImage({src: lbDesktop, format: 'webp'})
const rtDesktopBg = await getImage({src: rtDesktop, format: 'webp'})
const rbDesktopBg = await getImage({src: rbDesktop, format: 'webp'})
const ltMobileBg = await getImage({src: ltMobile, format: 'webp'})
const lbMobileBg = await getImage({src: lbMobile, format: 'webp'})
const rtMobileBg = await getImage({src: rtMobile, format: 'webp'})
const rbMobileBg = await getImage({src: rbMobile, format: 'webp'})

const bg = 'bg-pnp/[.03]'
const hover = `gr-red-green-coner hover:gr-red-green-coner`;
const border = `border border-pnp/[.1]`;
const rounded = `rounded-[32px] md:rounded-[48px]`;
const common = `overflow-hidden box-shadow-1 ${rounded} ${bg} ${border}`;
const bgMobilePos = 'bg-[position:_left_-180px_top_-100px,_left_-150px_bottom_0px,_right_-120px_top_-100px,_right_-200px_bottom_0px]'
const bgDesktopPos = 'sm:bg-[position:_left_-50px_top_0,_left_0px_bottom_0px,_right_0px_top_0px,_right_0px_bottom_0px]'
---
<div
    class=`${common} bg-no-repeat ${bgMobilePos} ${bgDesktopPos}`
    style={`
        background-image: url(${ltDesktopBg.src}), url(${lbDesktopBg.src}),  url(${rtDesktopBg.src}), url(${rbDesktopBg.src});
    `}
>
    <div class=`${hover} px-4 py-4  w-full h-full flex flex-col gap-2 md:gap-4 items-center justify-center text-center`>
        <slot/>
    </div>
</div>