---
import { getImage } from 'astro:assets';
import coinsLeft from "@assets/images/hero/coins-left.png";
import coinsRight from "@assets/images/hero/coins-right.png";

const coinsLeftBg = await getImage({src: coinsLeft, format: 'webp'})
const coinsRightBg = await getImage({src: coinsRight, format: 'webp'})
const bg = 'bg-pnp/[.03]'
const hover = `gr-red-green-coner hover:gr-red-green-coner`;
const border = `border border-pnp/[.1]`;
const rounded = `rounded-[32px] md:rounded-[48px]`;
const common = `overflow-hidden box-shadow-1 ${rounded} ${bg} ${border}`;
---
<div
    class=`${common} bg-no-repeat bg-[position:_left_-40px_bottom_-120px,_right_-150px_bottom_-120px] sm:bg-[position:_left_0px_bottom_0px,_right_0px_bottom_0px]`
    style={`background-image: url(${coinsLeftBg.src}), url(${coinsRightBg.src})`}
>
    <div class=`${hover} px-4 py-4  w-full h-full flex flex-col gap-2 md:gap-4 items-center justify-center text-center`>
        <slot/>
    </div>
</div>
