---
import Header from '@components/header/Header';
import Footer from '@components/footer/Footer.astro';
import Breadcrumbs from '@components/breadcrumbs/Breadcrumbs.astro';
import { ViewTransitions } from 'astro:transitions';
import { endpoints, fetchApi } from '@api/index';
import { SEO } from "astro-seo";
const {
	seo = null,
} = Astro.props;

const controls = await fetchApi({ endpoint: endpoints.controls });
const dataControls = controls['data']?.attributes;

function getSeoData(seoData, key){
	if(seoData === null) return null;
	if(!seoData.length) return null;

	return seoData[0][`${key}`];
}
const isNoIndex = getSeoData(seo, 'noindex');
const isNoFollow = getSeoData(seo, 'nofollow');
const isMertaData = getSeoData(seo, 'metaData');
const isStructuredData = getSeoData(seo, 'structuredData');
const noindex = isNoIndex !== null ? isNoIndex : true;
const nofollow = isNoFollow !== null ? isNoFollow : true; 

---
<html lang="pt" class="w-full bg-pnp-card-bg">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />

		<!-- schema start -->
		{isStructuredData &&
			isStructuredData.map(item => {
				const jsonLd = JSON.stringify(item.structuredItem);
				return <script type="application/ld+json" set:html={jsonLd}></script>
			}) 
		}
		<!-- schema start -->

		<!-- SEO start -->
		{isMertaData && 
			<SEO 
				noindex = {noindex}
				nofollow = {nofollow}
				{...isMertaData}
			/>
		}
		<!-- SEO end -->

		<link
			rel="icon"
			type="image/webp"
			sizes="16x16"
			href="/images/favicon-pinup-300x300.webp"
		/>
		<link
			rel="icon"
			type="image/webp"
			sizes="32x32"
			href="/images/favicon-pinup-300x300.webp"
		/>
		<ViewTransitions />
		<style>
			html, body {
				margin:0;
				padding:0;
				background-color: #00A189;
			}
		</style>
	</head>

	<body class="py-4 pl-4 pr-4 sm:p-4 md:p-6 lg:py-10  lg:px-20 bg-pnp-card-bg text-pnp w-full">
		<div class="max-w-[1160px] mx-auto relative">
			<Header
				client:load
				data={dataControls}
			/>
			<Breadcrumbs />
			<main>
				<slot/>
			</main>
			<Footer />
		</div>
	</body>
</html>