---
import {getImage} from "astro:assets";
import Article from "@components/article/Article.astro";
import ArticleItem from "@components/article/ArticleItem.astro";
import HeroContainer from "@components/hero/HeroContainer.astro";
import SliderContainer from "@components/slider/SliderContainer";
import Slots from "@components/slots/Slots.astro";
import SpaceBlock from "@components/spaces/SpaceBlock.astro";

import heroD from "@assets/images/home-hero-d.png";
import heroM from "@assets/images/home-hero-m.png";
import bonusCardPic4 from "@assets/images/bonus4-card.png";
import bonusCardPic5 from "@assets/images/bonus5-card.png";
import bonusCardPic6 from "@assets/images/bonus6-card.png";

const heroImage1 = await getImage({ src: heroD, format: 'webp' });
const heroImage2 = await getImage({ src: heroM, format: 'webp' });

const slideImage1 = await getImage({ src: bonusCardPic4, height: 172, format: 'webp' });
const slideImage2 = await getImage({ src: bonusCardPic5, height: 172, format: 'webp' });
const slideImage3 = await getImage({ src: bonusCardPic6, height: 172, format: 'webp' });

const heroTitle = `Pin Up Casino: Experiência de Cassino Premium do Brasil. Jogue Agora!`;
const heroDescription = `Tudo sobre Pin Up Bookmaker e quais opções de apostas ela oferece? Como preencher o formulário para cadastro na plataforma. Quais são as promoções e bônus. É fácil fazer um depósito e retirar dinheiro do site.`;

const sliderList = [
    {
        text: 'PRIVILÉGIOS VIP',
        description: 'Tenha acesso a promoções exclusivas e bônus luxuosos!',
        pic: slideImage1
    },
    {
        text: 'BEM-VINDO',
        description: 'Receba seu bônus de inscrição!',
        pic: slideImage2,
    },
    {
        text: 'BÔNUS EXCLUSIVO',
        description: 'Dobre seu depósito para novos jogadores!',
        pic: slideImage3,
    },
    {
        text: 'PRIVILÉGIOS VIP',
        description: 'Tenha acesso a promoções exclusivas e bônus luxuosos!',
        pic:  slideImage1,
    },
    {
        text: 'BEM-VINDO',
        description: 'Receba seu bônus de inscrição!',
        pic:  slideImage2,
    },
    {
        text: 'BÔNUS EXCLUSIVO',
        description: 'Dobre seu depósito para novos jogadores!',
        pic:  slideImage3,
    },
];
const slotsList = [
    {
        url: '/',
        title: 'Hell Hot',
        image: 'hell-hot',
    },
    {
        url: '/',
        title: 'Demi Gods II',
        image: 'demi-gods-2',
    },
    {
        url: '/',
        title: 'Gates of Olympus',
        image: 'gates-of-olympus',
    },
    {
        url: '/',
        title: 'Leprechaun Riches',
        image: 'leprechaun-riches',
    },
    {
        url: '/',
        title: 'Majestic King',
        image: 'majestic-king',
    },
    {
        url: '/',
        title: 'Wolf Strike',
        image: 'wolf-strike',
    },
    {
        url: '/',
        title: 'Hot Fruits',
        image: 'hot-fruits',
    },
    {
        url: '/',
        title: '9 coins',
        image: 'coins',
    },
];
---
<Article>
    <HeroContainer
        title={heroTitle}
        description={heroDescription}
        pics={[heroImage1, heroImage2]}
    />
    <ArticleItem>
        <div class="overflow-hidden pt-4">
            <ArticleItem titleH2="Ofertas especiais">
                <SliderContainer
                    client:load
                    list={sliderList}
                    noInfiniti={true}
                    itemComponentName="SliderItem"
                />
            </ArticleItem>
        </div>
    </ArticleItem>
    <ArticleItem titleH2="Avaliação de máquinas caça-níqueis">
        <SpaceBlock>
            <Slots list={slotsList} />
        </SpaceBlock>
   </ArticleItem>
</Article>